/src/bin
/src/dep/

/repo/
/log
/.gradle/
/path_config.sh
/repos.properties

/src/cpp/.project
/src/cpp/.cproject
/src/cpp/.sconsign.dblite

/src/java/main/DistributedTools/build.xml
/src/java/main/DistributedTools/build/
/src/java/main/DistributedTools/dist/
/src/java/main/DistributedTools/manifest.mf
/src/java/main/DistributedTools/nbproject/
/src/java/main/DistributedTools/src/.classpath
/src/java/main/DistributedTools/src/.project
/src/java/main/DistributedTools/src/hu/sztaki/SortedTreeCompute/.gitignore
/src/java/main/DistributedTools/src/hu/sztaki/TreeCompute/.gitignore
/src/java/main/DistributedTools/src/target/

